<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi!</h1>
    <p>
      You have been invited to work on the project <%= @project.name %> on
      Deskus!
    </p>
    <p>
      Join the project by clicking this link: <%= join_url(invite_key: @key) %>.
    </p>
    <p>Thanks,</p>
    <p>Deskus Team</p>
  </body>
</html>