
<%= link_to "Home", root_path %>

<h1>About us</h1>

<strong><p> Deskus allows small teams to talk and interact online. </p></strong>

<p>
In seconds your create your project space, invite your team members into it, and start
changing the world straight away. </p>

<p>

</p>