
<%= link_to "Home", root_path %>

<h1>About us</h1>

<h2> "La simplicité d'un groupe facebook en dehors de facebook."</h2>

<h3>
Ne mélangez pas tout. Séparez votre vie privée de votre vie publique et créez vous un espace approprié pour échanger avec votre petite équipe. Il suffit de créer un compte en 3 secondes (oui on a dit 2 en homepage mais les scientifiques divergent sur la question) - et commancez à discuter en ligne.</h3>

<h3>
C'est simple, intuitif et privé.</h3>


<h3>Bienvenue dans Deskus, votre bureau virtuel à l'abri des regards.  </h3>


