<h1>Editing post</h1>

<%= render 'form' %>


<%= link_to raw('<span class="glyphicon glyphicon-arrow-left">
      </span> Back'), project_path(@project) %>
      |
<%= link_to 'Show', [@project, @post] %>